@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');




/* @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    
  }
}

@media screen and (max-width:600px){
    .topnav.responsive {position: relative;}
    .topnav.responsive.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
} */

body{
    background-image: url(https://www.xmple.com/wallpaper/graph-paper-black-pink-grid-1440x2560-c2-000000-ff69b4-l2-5-245-a-30-f-20.svg);
    background-size: cover;
    /* position: fixed; */
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ff69b4;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt{
    width: 550px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: white;
}

.search-btn{
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ff69b4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 1200px){


}

@media screen and (max-width: 780px){



}

@media screen and (max-width: 440px){
  .search-box:hover > .search-txt{
    width: 150px;
}
  .logo img {
    display: none;
    margin: 0;
  }
  .nav-icon ul {
   margin: 0;
  }
  .nav-icon li {
    padding: 12px;
  }

}