body{
    background-image: url(https://www.xmple.com/wallpaper/graph-paper-black-pink-grid-1440x2560-c2-000000-ff69b4-l2-5-245-a-30-f-20.svg);
    background-size: cover;
}
.cat p{
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    padding: 100px;
}
.cat ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    padding: 50px;
}
.cat ul a {
    text-decoration: none;
    color: white;
}
.pre {
    background-color: white;
    width: 400px;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
}
.post1 img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.post1 ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin: 20px;
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.img1 img {
    width: 350px;
    height: 400px;
    object-fit: cover;

}
.text1 a {
    color: rgb(128, 128, 128);
}
.so li{
    list-style: none;
}
.so ul {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.so a {
    color: black;
    font-size: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #222222;
    padding: 70px 0px;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 10;
    bottom: -10px;
    background-color: #e4a0b7;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transform: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #e4a0b7;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #e4a0b7;
    transition: all 0.5 ease;
}

.footer-col .social-links a:hover{
    color: #e4a0b7;
    background-color: #ff69b4;
}

@media screen and (max-width: 440px){
    .cat p {
        font-size: 30px;
        padding: 5px;
    }
    .cat ul{
        flex-wrap: wrap;
    }
    .pre {
        width: 300px;
    }
    .img1 img {
        width: 260px;
        height: 300px;
    }
}